@media screen and (max-width: 600px){
    
    .layout-content {
        margin: 5vw var(--mobile-home-layout-margin) 0 var(--mobile-home-layout-margin);
    }

    .content .cover {
        width: var(--mobile-cover-size); 
        height:  var(--mobile-cover-size) ;
    }
    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2vw;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2vw;
    }

    .card-container > .content:nth-child(n + 4)  {
        display: none;
    }
}