{{ define "head" }}
<link rel="stylesheet" href="/term/defaults/term_default.css">
{{ end }}

{{ define "main" }}

{{$author_name := .Params.Title}}

<style>
  .author-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 auto auto;
  }

  .author-img {
    width: 8rem;
    height: 8rem;
    border: 2px solid var(--black);
    border-radius: 50%;
  }

  .author-name {
    font-size: large;
    font-weight: bold;
    color: var(--author-color);

  }
</style>

<div class="author-container">
  {{ partial "author_avatar" (dict "name" $author_name "class" "author-img") }}
  <p class="author-name">{{$author_name}}</p>
</div>

<hr class="divider">

<div class="articles">
  {{ partial "content-list" (dict "contents" .Data.Pages) }}
</div>

{{ end }}