<!DOCTYPE html>
<html lang="{{.Site.Language.Lang}}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Site.Title}}</title>

    <link rel="stylesheet" href="/defaults/default.css">
    <link rel="stylesheet" href="/defaults/footer.css">
    <link rel="stylesheet" href="/defaults/navbar.css">

    {{ partial "fonts" . }}
    {{ partial "prefetch_katex" . }}
    {{ partial "quicklink" . }}

    {{ block "head" . }}

    {{ end }}

</head>
<body class="light">
{{ partial "navbar" . }}
{{ block "main" . }}

{{ end }}
</body>

{{ partial "footer" . }}


</html>