{{ define "head" }}
  <link rel="stylesheet" href="/home/defaults/home_default.css">
  <link rel="stylesheet" media="screen and (max-width: 770px)" href="/home/mobile/home_mobile.css">
{{ end }}

{{ define "main" }}

    {{/*  {{ partial "test_image" (dict "src" "https://fastly.picsum.photos/id/616/1280/853.webp?hmac=BH558ntdgunelhxC4eMEz81gQDwW3JQNIsK40w3F5cg") }}  */}}


    <div class="teaser">
        <p class="welcome">
            Üdvözlünk a Szigmán
        </p>
        <p class="welcome-quote">
            Egy 
            <span class="highlighter">
                szabály     
            </span>
            van a 
            dzsungelben,
            ha a 
            <span class="highlighter">
               tigris 
            </span>
            éhes, 
            <span class="highlighter">
                eszik
            </span>
            .
        </p>

    </div>
<main class="layout">
    {{$article_pages := where .Site.RegularPages "Section" "articles"}}
    {{$first_page := index $article_pages 0}}

    {{ $latestContent := first 5 (sort (after 1 $article_pages) "Date" "desc") }}


    <div class="layout-content">

        {{ partial "main_content" (dict "content" $first_page)}}

        <h1 class="latest">
            Legújabb hírek 
        </h1>

        <div class="card-container">
            {{ range $latestContent }}
                {{ partial "content" ( dict
                                        "content" . 
                                        "class" "content" 
                                        "image_sizes" (slice "100x100" "150x150" "200x200")
                                    ) 
                }}
            {{ end }}
        </div>



        {{ range $tag, $_ := .Site.Taxonomies.heading}}
            <h1 class="latest">
               {{title $tag}} 
            </h1>

            <div class="card-container">
                {{ range first 5 (where $article_pages "Params.heading" $tag)}}
                    {{ partial "content" ( dict 
                                            "content" . 
                                            "class" "content" 
                                            "image_sizes" (slice "100x100" "150x150" "200x200")
                                        ) 
                    }}
                {{ end }}
            </div>

        {{ end }}

    </div>

</main>
{{ end }}