{{ define "head" }}
<link rel="stylesheet" href="/article/defaults/article_default.css">
<link rel="stylesheet" media="screen and (max-width: 1080px)" href="/article/mobile/article_mobile.css">
{{ if .Params.katex}}{{ partial "katex.html" . }}{{ end }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ end }}
{{ define "main" }}
<div class="layout">

  <main class="cikk">
    <a class="cikk-heading" href="{{ "/heading/" | relLangURL }}{{.Params.heading | urlize}}/">
      {{title .Params.heading}}
    </a>
    <div class="cikk-title">
      <h1>
        {{title .Title}}
      </h1>

    </div>

    <hr class="content-divider">

    <div class="authors">
    {{ range .Params.authors }}
      <a class="author-details" href="{{ "/authors/" | relLangURL }}{{ . | urlize}}/">
        {{ partial "author_avatar" (dict "name" . "class" "author-img") }}
        <span class="cikk-author">
          <p>
          {{.}}
          </p>
        </span>
      </a>
      
    {{ end }}

    </div>
    <div class="cikk-content">
      {{ .Content }}
    </div>

  </main>

  <hr class="mobile-content-divider content-divider">

  <div class="related">
    {{ $related := .Site.RegularPages.Related . | first 5}}
    <h3>További cikkek</h3>

    {{ partial "content-list" (dict "contents" $related "useSummary" false) }}

  </div>

</div>
{{ end }}