{{ define "main" }}

  {{$author_name := .Params.Title}}

  <style>

    .articles ul {
      margin: 0 auto; 
      max-width: 1024px;
    }
    .articles {
      margin: 0 30px;
    }

    .heading-container {
      font-weight: bold;
      font-size: 2rem;
      color: var(--author-color);
      text-align: center;

      margin: 50px 0 auto auto;
    }

    .divider {
      margin: 30px auto;
      width: 60%;
      /*color: TODO*/
    }

    .content-group {
      display: flex;
      flex-direction: row;
    }

    .articles li {
      display: grid;
      grid-template-columns: 100px 1fr;
      grid-gap: 15px;
      margin: 0 0 35px 0;
    }

    .related-title {
      font-weight: bold;
    }

    .related-text {
      display: flex;
      flex-direction: column;
    }
  </style>

  <div class="heading-container">
    {{$author_name | upper }}
  </div>

  <hr class="divider">

  <div class="articles">
    {{ partial "content-list" (dict "contents" .Data.Pages) }}
  </div>

{{ end }}

