{{ define "head" }}
<link rel="stylesheet" href="/term/defaults/term_default.css">
{{ end }}

{{ define "main" }}

{{$author_name := .Params.Title}}

<style>
  .heading-container {
    font-weight: bold;
    font-size: 2rem;
    color: var(--author-color);
    text-align: center;

    margin: 50px 0 auto auto;
  }
</style>

<div class="heading-container">
  {{$author_name | upper }}
</div>

<hr class="divider">

<div class="articles">
  {{ partial "content-list" (dict "contents" .Data.Pages) }}
</div>

{{ end }}