.layout {
    font-family: var(--content-font-family);
    padding: 0;
    margin: 0;
    display: grid;
    grid-template: 1fr;
    grid-gap: 40px;
}

.layout-content {
    margin: 5vw var(--home-layout-margin) 0 var(--home-layout-margin);
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "b a a c";
    grid-gap: 40px;
    align-items: start; */
}

.main-content-container .cover {
    width: 100%;
    height: auto;
    grid-area: a;
    border-radius: 10px;
}

.main-content-container {
    display: grid;
    /* justify-content: center; */
    grid-template-columns: min(50%, 450px) 47%;
    grid-template-areas: "a b";
    gap: 6.3vw;

}

.article-infos {
    grid-area: b;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: "d"
        "a"
        "b"
        "c";
}

.main-content-container .title {
    margin-bottom: 2vw;
    grid-area: a;
    font-family: var(--first-article-font-family);
    font-size: max(2.5vw, 13px);
}

.main-content-container .summary {
    grid-area: b;
    font-size: min(1.25vw, 16px);
    margin-bottom: 10px;
}


.main-content-container .heading {
    font-weight: bold;
    color: var(--news-heading);
}

.main-content-container .bottom-container {
    font-size: min(1.25vw, 16px);
    display: flex;
    align-items: center;
    grid-area: c;
}

.main-content-container .bottom-content {
    text-align: left;
}

.author-img {
    width: 5%;
    height: auto;
    grid-area: a;
    border: 2px solid var(--black);
    border-radius: 50%;
}

.authors {
    grid-area: d;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.dot {
    margin: 0 5px;
}

.date {
    font-size: min(1.2vw, 16px);
}

.latest {
    font-size: 2.5vw;
    margin: 5vw 0 3vw 0;

}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--content-gap);
}


.content .cover {
    width: var(--desktop-cover-size);
    height: var(--desktop-cover-size);
    object-fit: cover;
    border-radius: 10px;
}

.content .title {
    font-size: clamp(1.25vw, 10px, 16px);
    font-weight: bold;
    height: fit-content;
}

.content > a {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.summary {
    font-size: clamp(1.25vw, 8px, 16px);
}


.teaser {
    background-color: rgba(213, 213, 213, 0.4);
    width: clamp(35%, 180px, 400px);
    margin: 20px auto;
    border-radius: 15px;
    padding: 0.25rem 20%;
    font-size: max(1.9vw, 12px);
    font-weight: bold;
}

.welcome {
    text-align: center;
    font-family: monospace;
    color: rgb(117, 116, 116);
    font-size: max(1.56vw, 10px) ;

}

.welcome-quote {
    text-align: center;

}

.highlighter {
    color: var(--highlighter)
}