<footer>
    <div class="footer-content">
        <p>Maradj Kapcsolatban az <span>SZIGMA</span>-val!</p>
        <div class="contact-info">
            <p><a href="[Iskola Weboldal URL]">[Iskola Weboldal URL]</a> | Kapcsolat: <a
                    href="mailto:[Kapcsolat Email]">[Kapcsolat Email]</a> | Telefon: [Kapcsolat Telefonszám]</p>
        </div>
        <div class="social-icons">
            <a href="[Közösségi Média Link]"><img src="/svg/fb.svg" alt="Facebook"></a>
            <a href="[Közösségi Média Link]"><img src="/svg/x.svg" alt="Twitter"></a>
            <a href="[Közösségi Média Link]"><img src="/svg/instagram.svg" alt="Instagram"></a>
        </div>
    </div>
    <p class="copyright">&copy; [Aktuális Év] [Iskola Neve]. Minden jog fenntartva.</p>
    <p class="address">Cím: [Iskola Címe]</p>
    </footer>