{{/*  
    Parameters:
        @src:String => an URL string or a path in the file system 
        @class:String => clasname of the main div
        @alt:String => the description of the image 
        @Optional[method:["fill" | "scale"]] => the method how would rescale the image 

        @Optional[width:Int] => the actual dimensions of the image ## TODO 
        @Optional[height:Int] => the actual dimensions of the image ## TODO
        @Optional[loading:["eager" | "lazy"]] = "lazy" => the actual dimensions of the image ## TODO 
        @Optional[height:Int] => the actual dimensions of the image ## TODO
        @Optional[sizes:List[Int]] => scales according to the display size 
        @Optional[method:["fill" | "scale"]] => the method how would rescale the image 
*/}}

{{ $loading := default "lazy" .loading}}
{{ $method := default "scale" .method}}

{{$r := partialCached "fetch-image" (dict "src" .src) .src }}

{{- if $r }}
  {{/*  Definition of smartphone, tablet, laptop */}}
  {{ $display_sizes := slice "450px" "768px" "1024px"}} 
  {{ $images_to_displays := slice "1px" "60vw" "40vw"}} 


  {{ $scaledImages := partialCached "opt-image.html" ( dict 
                                                  "resource" $r
                                                  "sizes" .sizes
                                                  "method" $method
                                                )
                                                .src
                                                .sizes
                                                .method
  }}

  {{ $sources := slice }}
  {{ range $index, $scaledImage := $scaledImages }}
      {{ $sources = $sources | append (printf "%s %dw" $scaledImage.RelPermalink $scaledImage.Width) }}
  {{ end }}

  {{ $media_queries := slice }}
  {{ range $index, $display_size := $display_sizes}}
    {{ $corresp_img := index $images_to_displays $index}}
    {{ $media_queries = $media_queries | append (printf "(max-width: %s) %s" $display_size $corresp_img)}}	

  {{ end }}

  {{- /* Render image element. */ -}}

  <img class="{{ .class }}" alt="{{ .alt }}" 
      src="{{ (index $scaledImages 0).RelPermalink }}" 
      srcset="{{ delimit $sources "," }}"
      loading="{{$loading}}"
      width="{{ (index $scaledImages 0).Width }}"
      height="{{ (index $scaledImages 0).Height }}"
	  sizes="{{ delimit $media_queries "," }}">
{{- end -}}