{{/*  
    Parameters:
        @src:String => an URL string or a path in the file system 
        @class:String => clasname of the main div
        @alt:String => the description of the image 

        @Optional[width:Int] = the actual dimensions of the image 
        @Optional[width:Int] = the actual dimensions of the image
*/}}

{{ $defaultImage := "https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg" }}

{{ $src:= default $defaultImage .src}}
{{ $alt := .alt }}
{{ $class := .class}}

{{ $img_url := "" }}

{{ $default_width := "" }}
{{ $defautl_height := "" }}


{{ if strings.HasPrefix $src "http" }}
    {{ $img_url = $src }}

    {{ with resources.GetRemote $img_url }}
        {{ with .Err }}
            {{ warnf "%s" . }}
        {{ else }}
            {{ $default_width = .Width }}
            {{ $defautl_height = .Height }}
        {{ end }}
    {{ end }}

{{ else }}
    {{ $img_path := printf "/img/%s" $src }}

    {{ with resources.GetMatch $img_path }}
        {{ with .Err }}
            {{ warnf "%s" . }}
        {{ else }}
            {{ $default_width = .Width }}
            {{ $defautl_height = .Height }}
            {{ $img_url = .RelPermalink }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $width := default $default_width (.width) }}
{{ $height := default $defautl_height (.height) }}

<img src="{{ $img_url }}" alt="{{ $alt }}" width="{{ $width }}" height="{{ $height }}" class="{{ $class }}">
