.cikk {
    display: flex;
    margin: 50px 0;
    flex-direction: column;
    row-gap: 15px;
    width: 100% 
}

.cikk-heading {
    font-family: var(--content-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    align-items: center;
    text-decoration-line: underline;
    color: var(--news-heading);
}

.cikk-title h1 {
    font-size: 30px;
    margin-top: 0;
}

.author-details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
    /* grid-template-areas:
        "a b";
    grid-template-columns: 40px auto;
    grid-template-rows: 40px auto; */

    font-weight: bold;
    color: var(--author-color);
}

.cikk-authors {
    grid-area: b;
}

.cikk-date {
    grid-area: c;
    font-size: 12px;
    font-weight: lighter;
}

.content-divider{
    width: 100%;
    border: 1px solid var(--line-color);
    background-color: var(--line-color);
}

.author-img {
    display: grid;
    place-content: center;
    width: 40px ;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    margin: 10px 8px 10px 0;
    border: 2px solid var(--black);
}

.layout {
    display: flex;
    font-family: var(--content-font-family);
    flex-direction: row;
    gap: 40px;
    margin: 0 auto;
    max-width: 1024px;
}

.related {
    display: flex;
    flex-direction: column;
    margin: 300px 0 0 0;
    width: 40%;
}

.related ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.related ul li {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 15px;
    margin: 0 0 35px 0;
}

.related-title {
    font-weight: bold;
}

.related h3 {
    color: var(--news-heading);
    margin: 0 0 40px 0;
}

.mobile-content-divider {
    display: none;
}

.article-img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.authors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 15px 0;
    align-items: flex-start;
}

.md__image  img{
    margin: auto 0;
    max-width: 80%;
    width: 100%;
    height: auto;
}

.md__image  {
    text-align: center;
}

.highlight {
    width: 85%;
    margin: 0 auto;
}

.highlight pre {
    padding: 1rem;
    overflow: auto;
}

code {
    width: 100%;
}

code > span {
    width: 100%;
    max-width: 50vw;
    /* display: inline-block !important; */
}


